<template>
  <card :title="$t('home')">
    <div class="container-fluid">
      <form @submit.prevent="save" @keydown="form.onKeydown($event)">
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">Name</label>
          <div class="col-md-7">
            <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name" />
            <has-error :form="form" field="name" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">Company</label>
          <div class="col-md-7">
            <input v-model="form.company" :class="{ 'is-invalid': form.errors.has('company') }" class="form-control" type="text" name="company" />
            <has-error :form="form" field="company" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-7 offset-md-3 d-flex">
            <v-button :loading="form.busy">
              Save
            </v-button>
          </div>
        </div>
      </form>
    </div>

    <div class="text-right"><a href='/api/equipments/csv'>Download CSV</a></div>
    <table class="table table-hover table-striped">
      <thead><tr>
        <th>NO</th>
        <th>Name</th>
        <th>Company</th>
      </tr></thead>
      <tbody>
        <tr v-for="equipment in equipments">
          <td>{{equipment.id}}</td>
          <td>{{equipment.name}}</td>
          <td>{{equipment.company}}</td>
        </tr>
      </tbody>
    </table>
  </card>
</template>

<script>
import { mapGetters } from 'vuex'
import Form from 'vform'

export default {
  middleware: "auth",

  data: () => ({
    form: new Form({
      name: '',
      company: ''
    }),
  }),

  created() {
    this.$store.dispatch('equipment/fetchEquipments')
    .then(response => {
      console.log(response);
    })
    .catch(error => {

    })
  },

  metaInfo() {
    return { title: this.$t("home") };
  },

  computed: mapGetters({
    equipments: 'equipment/equipments'
  }),

  methods: {
    async save () {
      const { data } = await this.form.post('/api/equipments')
      await this.$store.dispatch('equipment/fetchEquipments')
    }
  }
};
</script>
